.mt-6 {
  margin-top: 4.5rem;
}
.mt-5 {
  margin-top: 3.5rem;
}
.mt-4 {
  margin-top: 2.5rem;
}
.mt-3 {
  margin-top: 1.5rem;
}
.pt-80 {
  padding-top: 80px;
}
.btn {
  background: #ec4138;
  border: 0;
  cursor: pointer;
  color: #fff;
  padding: 15px 25px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
}
.sm-btn {
  background: #ec4138;
  border: 0;
  cursor: pointer;
  color: #fff;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
}
.pl-2 {
  padding-left: 3rem;
}
.pl-1 {
  padding-left: 2rem;
}
.ml-1 {
  margin-left: 0.5rem;
}
.px-6 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.text-capitalize {
  text-transform: capitalize;
}
.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
