.posts-lists {
  margin: 0;
  padding: 0;
  list-style: 0;
  list-style: none;
  li {
    a {
      display: inline-block;
      font-size: 17px;
      color: #2375d8;
      padding: 5px 0;
      text-transform: capitalize;
    }
  }
}
.posts-wrapper {
  padding: 2rem 3rem;
}
